@import './../styles/variables';

.class-selectable-times-card {

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: white;
  
  @media (min-width:@md-width) {
    padding: 20px 30px;
    box-shadow: 0 2px 4px 0 rgba(191, 191, 191, 0.5);
    border: 1px solid @mercury;
    border-radius: 3px;
  }

  &__top-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;

    @media (min-width:@lg-width) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width:@lg-width) {
      flex-wrap: nowrap;
    }
  }

  &__title {
    font-family: "Founders Grotesk", sans-serif;
    font-size: @l-paragraph;
    line-height: 1;
    font-weight: 600;
    color: @ebony-clay;
    margin: 0 10px 5px 0;
  }

  &__price {

  }

  &__address {
    width: 100%;
    margin-bottom: 5px;
    @media (min-width:@sm-width) {
      width: auto;
    }
  }

  &__bottom-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    // @media (min-width:@lg-width) {
    //   justify-content: space-between;
    //   flex-wrap: nowrap;
    // }
  }

  &__location-name {
    width: 100%;
    font-family: "Founders Grotesk", sans-serif;
    font-size: 28px;
    line-height: 1;
    font-weight: 400;
    color: @ebony-clay;
    margin: 0 0 30px;
  }

  &__label {
    width: 100%;
    font-family: "Founders Grotesk", sans-serif;
    font-size: @l-paragraph;
    line-height: 1;
    font-weight: 600;
    color: @ebony-clay;
    margin-bottom: 15px;
  }

  &__dates-row {
    width: 100%;
    margin-bottom: 40px;
    &:last-child { 
      margin-bottom: 0px;
    }
  }

  &__dates-title-wrap {
    display: flex;
  }

  &__dates-title {
    font-family: "Founders Grotesk", sans-serif;
    font-size: @l-paragraph;
    line-height: 1;
    font-weight: 600;
    color: @camelot;
    margin-right: 5px;
    margin-bottom: 15px;
  }
  
  &__dates-label {
    font-family: "Founders Grotesk", sans-serif;
    font-size: @l-paragraph;
    line-height: 1;
    font-weight: 400;
    color: @camelot;
    margin-bottom: 15px;
  }

  &__days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media (min-width:@md-width) {
      flex-wrap: nowrap;
    }
  }

  &__button {
    display: inline-flex;
    width: 100%;
    @media (min-width:@lg-width) {
      width: auto;
    }
  }
}
