@import './../styles/variables';

.icon-label {
  display: flex;
  margin-right: 30px;

  &__icon {
    display: none;
    margin-right: 8px;
    margin-top: 1px;
    g {
      stroke: @gray;
    }

    @media (min-width:@sm-width) {
      display: block;
    }
  }

  &__text {
    font-family: "Founders Grotesk", Arial, sans-serif;
    font-weight: 400;
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    color: @ebony-clay;
  }
}