@import './../styles/variables';

.price-sum {

  &__top-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  }

  &__previous-total {
    color: @gray;
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: 1;
    font-weight: 400;
  }

  &__save-text {
    color: @gray;
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: 1;
    font-weight: 400;
  }

  &__middle-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__bottom-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  &__calculation {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: 28px;
    line-height: 1.25;   
    font-weight: 400;
    color: @ebony-clay;
    margin-right: 6px;
    font-weight: 600;
  }

  &__total {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: 28px;
    line-height: 1.25;   
    color: @robbins-egg-blue;
    font-weight: 600;

    &--line-through {
      text-decoration: line-through;
    }
  }

}