@import './../styles/variables';

.price-sum {

  font-family: "Founders Grotesk", 'Arial', sans-serif; 
  display: block;

  @media (min-width:@sm-width) {
    display: flex;
  }

  &--small {
    font-size: @l-paragraph;
    line-height: 1;
  }
  
  &--normal {
    font-size: 28px;
    line-height: 1.25;   
  }

  &__pill {
    border-radius: 5px;
    background-color: @cruise;
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @xxsm-paragraph;
    line-height: @xxsm-paragraph-lh;
    padding: 3px 8px;
    font-weight: 500;
    margin-right: 10px;
    display: none;

    @media (min-width:@sm-width) {
      display: block;
    }

    &--mobile {
      display: block;
      margin-top: 10px;
      @media (min-width:@sm-width) {
        display: none;
      } 
    }
  }
  
  &__calculation {
    font-weight: 400;
    color: @ebony-clay;
    margin-right: 6px;
    font-weight: 600;
  }

  &__previous-total {
    color: @ebony-clay;
    padding-right: 10px;
  }

  &__total {
    color: @robbins-egg-blue;
    font-weight: 600;

    &--line-through {
      text-decoration: line-through;
    }
  }

}