@import './../styles/variables';

.pitch-container {
  &__menu {
    width: 100%;
    z-index: 10;
  }

  &__learning-portal-image {
    width: 100%;
    padding: 30px 20px 0;
    @media (min-width:@md-width) {
      height: 374px!important;
      width: auto!important;
    }
  }

  &__menu-link {
    font-family: "Founders Grotesk", Arial, sans-serif;
    font-weight: 300;
    font-size: @m-paragraph;
    line-height: @m-paragraph-lh;
    color: @ebony-clay;
    margin-right: 30px;
    cursor: pointer;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: none;
    &:hover {
      color: @ebony-clay;
      text-decoration: none;
      border-bottom: 3px solid @ebony-clay;
    }

    @media (min-width:@lg-width) {
      display: block;
    }
  }
  
  &__button-wrap {
    display: flex;
    margin-top: 56px;
    align-items: center;
  }

  &__button {
    display: inline-flex;
    &:hover {
      text-decoration: none;
    }
  }

  &__button-label {
    display: inline-flex;
    margin-left: 30px;
    font-family: "Founders Grotesk", 'Arial', sans-serif;
    font-size: @l-paragraph;
    line-height: 1;
    letter-spacing: 0.3px;
  }


  &__location-image-wrap {
    max-width: 700px;
  }

  &__location-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  &__location-image-text {
    width: 100%;
    text-align: center;
    font-family: "Founders Grotesk", Arial, sans-serif;
    font-size: @m-paragraph;
    line-height: @m-paragraph-lh;
    color: @camelot;
    margin: 0;
  }
}