@import './../styles/variables';

.conversion-container {

  &__body {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    letter-spacing: 0.3px;
    position: relative;
    width: 100%;
  }

  &__card {
    margin-bottom: 20px;
    &--joined {
      margin-bottom: -1px;
    }
  }

  &__card-overide {
    padding: 0px;
    @media (min-width:@sm-width) {
      // padding: 35px;
    }

    &--flat {
      padding: 0px;
      @media (min-width:@sm-width) {
        padding: 0;
      }
    }
  }

  &__card-inside {

  }

  &__card-title {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: 28px;
    line-height: 1.25;   
    margin: 0;
    font-weight: 600;
    
    &--flat {
      margin-bottom: 0px;
    }

    &--flat-card {
      padding: 35px 35px 0;
      margin-bottom: 0;
    }

    &--pad-mobile {
      padding: 0 25px;
      @media (min-width:@sm-width) {
        padding: 0;
      }
    }
  }

  &__card-description {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    margin: 0 0 23px;

    &--small {
      max-width: 400px;
    }
  }
  
  &__card-note {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    padding: 25px;
    @media (min-width:@sm-width) {
      padding: 40px;

    }
  }

  &__card-link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__card-section {
    // margin-top: 20px;
    // margin-bottom: ;

    

    &--weekly-classes {
      max-width: 750px;
      padding-top: 15px;
      padding-right: 15px;
      padding-bottom: 35px;
      padding-left: 35px;
    }
    
    &--dates {
      padding: 40px;
      border-bottom: 1px solid @alto;
    }
    
    &--table-dates {
      padding: 0;
      border-bottom: 1px solid @alto;
      @media (min-width:@sm-width) {
        border-bottom: none;
      }
    }

    &--three-point-sales-banner {
      margin-top: 40px;
    }

  }

  &__bullet-points {
    padding: 40px;
  }
}