@import './../styles/variables';

.landing-page {

  letter-spacing: 0.3px;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
  }

  &__header-image {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  &__header-text {
    margin-left: 80px;
  }

  &__header-title {
    display: flex;
    flex-wrap: wrap;
    font-family: "Founders Grotesk", 'Arial', sans-serif;
    font-size: @l-heading;
    line-height: 1;
    font-weight: 600;
    width: 400px;
    margin-bottom: 45px;
  }

  &__header-title-part {
    width: 100%;
  }

  &__header-buttons {
    margin-bottom: 60px;
  }

  &__header-price {
    font-family: "Founders Grotesk", 'Arial', sans-serif;
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    color: @gray;
  }

  
  
  &__here-to-learn {
    background-color: @astra;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 95px 0;
  }

  &__sub-title {
    font-family: "Founders Grotesk", 'Arial', sans-serif;
    letter-spacing: 0.3px;
    color: @ebony-clay;
    width: 100%;
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 44px;
  }

  &__language-button {}


}