@import './../styles/variables.less';
@import './../styles/animations/popout';
@import './../styles/animations/fadeIn';

.ready-to-learn-page {
  font-family: "Founders Grotesk", 'Arial', sans-serif; 
  letter-spacing: 0.3px;

  &__header {
    position: relative;
    margin-bottom: -30px;
    z-index: -1;
  }

  &__body {
  }

  &__card {
    margin-bottom: 20px;
  }

  &__card-title {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: 28px;
    line-height: 1.25;   
    margin: 0 0 10px;
    font-weight: 600;
  }

  &__card-description {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    margin: 0 0 23px;

    &--small {
      max-width: 400px;
    }
  }

  &__checkboxes {
    width: 70%;
  }

  &__addresses {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
    animation:popout 350ms, fadeIn 350ms;
  }

  &__sub-title {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    
    &--bold {
      font-weight: 600;
      margin: 0 0 10px;
    }
  }

  &__area-adresses {
    display: none;
    width: 100%;
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    margin-bottom: 24px;
    &--show {
      display: block;
      animation:popout 350ms, fadeIn 350ms;
    }
  }

  &__address {
    display: inline-flex;
    color: @gray;
    text-decoration: underline;
    margin-bottom: 5px;
  }

  &__dot {
    color: @gray;
    display: inline-flex;
    margin: 0 10px;
    &:last-child {
      display: none;
    }
  }

  &__continue-row {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0 120px;
  }
  
  &__continue-form {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0 40px;
  }

  &__button {
    display: inline-flex;
  }

  &__summary-section {
    margin-top: 23px;
    padding-top: 30px;
    border-top: 1px solid @mercury;
  }

  &__field {
    margin-bottom: 30px;
  }

  &__label {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 10px;
  }

  &__input {}

}