@import './../styles/variables.less';

.ready-to-learn-page {
  font-family: "Founders Grotesk", 'Arial', sans-serif; 

  &__header {
    position: relative;
    margin-bottom: -30px;
    z-index: -1;
  }

  &__body {
    
  }

  &__card {
    margin-bottom: 20px;
  }

  &__card-title {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: 28px;
    line-height: 1.25;   
    margin: 0 0 10px;
    font-weight: 600;
  }

  &__card-description {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    margin: 0 0 23px;
  }
}