@import './../styles/variables.less';

.ready-to-learn-page {
  font-family: "Founders Grotesk", 'Arial', sans-serif; 

  &__header {
    position: relative;
    margin-bottom: -70px;
    z-index: -1;
  }

  &__body {
    
  }
}