@import './../styles/variables.less';
@import './../styles/animations/popout';
@import './../styles/animations/fadeIn';

.app-page {

  display: flex;
  
  &__body {
    font-family: "Founders Grotesk", 'Arial', sans-serif; 
    letter-spacing: 0.3px;
    position: relative;
    margin-top: 93px;
    width: 100%;
    @media (min-width:@sm-width) {
      margin-top: 58px;
    }
  }
}