@import './../styles/variables';

.icon-label {
  display: flex;
  margin-right: 30px;

  &__icon {
    margin-right: 8px;
    margin-top: 1px;
    g {
      stroke: @gray;
    }
  }

  &__text {
    font-family: "Founders Grotesk", Arial, sans-serif;
    font-weight: 400;
    font-size: @l-paragraph;
    line-height: @l-paragraph-lh;
    color: @ebony-clay;
  }
}

.class-as-date-card {

  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(191, 191, 191, 0.5);
  border: 1px solid @mercury;
  border-radius: 3px;

  &__top-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;

    @media (min-width:@lg-width) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__title {
    font-family: "Founders Grotesk", sans-serif;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    color: @ebony-clay;
    margin: 0 0 10px;
    @media (min-width:@lg-width) {
      margin: 0;
    }
  }

  &__price {

  }

  &__bottom-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    @media (min-width:@lg-width) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    @media (min-width:@lg-width) {
      flex-wrap: nowrap;
      margin-bottom: 0;
    }
  }

  &__detail {
    margin-bottom: 5px;
    @media (min-width:@lg-width) {
      margin-bottom: 0px;
    }
  }

  &__button {
    display: inline-flex;
    width: 100%;
    @media (min-width:@lg-width) {
      width: auto;
    }
  }

}
